body {

    background-color: #F9F9F9;
    position: relative;
    font-family: Georgia, Times, "Times New Roman", serif;

}
.root {

    position: relative;

    width: 100%;
    height: 100vh;
    color: #31383f;


}

div {

}
span {
    display: inline;
    height: 100%;
}
button {
    font-family: Georgia, Times, "Times New Roman", serif;

    color: #31383f;
    border: 1.5px solid #31383f;

    border-radius: 50%;
    height: 90px;
    width: fit-content;

    width: 90px;
    background: transparent;
    font-size: 20px;
}

.line {
    width: 80%;
}

.period-container {
    margin-top: 50px;
}

.quote-container {
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 25px;
}

.left-container {
    width: 20%;
    height: 100%;
    position: relative;


    float: left;

    
}
.period-container {

/*     margin-top: 50px; */
}
.center-container {
    float: left;
    width: 26%;
    height: 88%;
    padding: 8px;

/*     background-color: #D2D6D7;  */
/*     background-color: #D5CBCA; */
    background-color: #E4DCDF;

}


.color {
    background-color: black;
}




.timetable-container {
    display: inline-block;
    height: 100%;
    width: 95%;
    align-content: center;
    margin: 2%;
    
}

.hours-container {
/*     border: 0.5px solid #CCD0D1; */
    border: 0.2px solid rgb(239, 238, 238);

    height: 5%;
    float: left;
    width: 100%;

    margin: 0%;
    background-color: #FAFAFA; 
    font-size: 0px;
}

.hour-written {
/*     border-right: 0.5px solid #CCD0D1; */
    border-right: 0.5px solid #e4e3df;

    background-color: #faf8f8;

    font-size: 15px;
    display: inline-block;
    color: #31383f;
    width: 10%;
    align-content: center;
    text-align: center;

    background-color: #F8F8FA;
    float: left;
}



.minutes-container {

/*     width: 14.8%; */
/*     width: 14.78%; */
    width: 1.494975%;

    height: 100%;
    display: inline-block;
    margin-right: 0px;
    font-size: 20px;
/*     border-left: 0.5px dashed white; */
}


.minutes-container.leftest {
    border-left: 0.5px solid #CCD0D1;
}

.right-container {
    background-color: white;
    width: 50%;
    height: 95%;
    position: relative;
    float: right;
    
}
.pomodoro-container {
    height: 30%; 
    text-align: center;
    

}
.totaltime-container {
    text-align: center;
    vertical-align: middle;
    height: 50%;
    color: black;
    font-size: 90px;

}
.island-and-button-container {
    width: 100%;
    height: 20%;
    word-wrap: normal;
    text-align: center;
    align-items: center;

}
.island-container {
    padding-top: 20px;
    float: left;
    width: 70%;
    height: 100%;
    font-size: 23px;
    bottom: 50%;
    
}
.button-container {
    float: right;
    width: 29%;
}
.work-container {
    float: left;
    width: 49%;
}
.break-container {
    float: right;
    width: 49%;
}
._25min-text-container {
    height: 60%;
    text-align: center;
    padding-top: 50px;

    font-size: 45px;


}
._5min-text-container {
    padding-top: 50px;
    font-size: 45px;
    height: 60%;
}
._25min-bar-container {
    height: 40%;
}
._5min-bar-container {
    height: 40%;
}
